body {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  display: inline-block;
  height: 100vh;
  margin: 0;
  background-color: antiquewhite;
  text-align: center;
}
h1 {
  color: red;
  font-weight: bold;
  font-size: 5rem;
  margin-top: 1rem;
}

#tabellone {
  margin-inline: 1rem;
  flex-wrap: wrap;
  display: flex;
  margin-top: 2rem;
  text-align: center;
}

.tombolini {
  margin: 1px;
  padding: 9px;
  text-align: center;
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: rgb(241, 241, 211);
  color: red;
  font-weight: bold;
  font-size: 26px;
  border-radius: 50%;
  border: solid 7px red;
  cursor: pointer;
  transition: filter 0.5s ease;
  transition: transform 0.5s ease;
}

.tombolini:hover {
  background-color: gold;
  filter: drop-shadow(1px 1px 20px gold);
  transform: scale(1.35);
}
#button {
  margin-block: 1rem;
  padding: 14px 24px;
  font-size: 18px;
  background-color: rgb(103, 29, 29);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: filter 0.5s ease;
  transition: transform 0.5s ease;
}
#button:hover {
  filter: drop-shadow(1px 1px 20px rgb(255, 15, 15));
  background-color: rgb(
    224,
    15,
    15
  ); /* Colore di sfondo al passaggio del mouse */
  transform: scale(1.35); /* Effetto di ingrandimento al passaggio del mouse */
}

#tabellina {
  flex-wrap: wrap;
  display: flex;
  margin-top: 5rem;
  margin-inline: 27rem;
  text-align: center;
}
.cartella {
  padding: 9px;
  text-align: center;
  width: 30px;
  height: 30px;

  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 23px;
  border-radius: 1px;
  border: solid 1px black;
  cursor: pointer;
}
